@charset "UTF-8";

@font-face {
  font-family: "seur-font";
  src:url("../fonts/seur-font.eot");
  src:url("../fonts/seur-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/seur-font.woff") format("woff"),
    url("../fonts/seur-font.ttf") format("truetype"),
    url("../fonts/seur-font.svg#seur-font") format("svg");
  font-weight: normal;
  font-style: normal;

}



.widefat .column-order_status mark.seur-label:after{
	font-family: seur-font;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.widefat .column-order_status mark.seur-shipment:after{
	font-family: WooCommerce;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.widefat .column-order_status mark.seur-label:after {

  content: "\e000";
  color: #999;

}
.widefat .column-order_status mark.seur-shipment:after {

  content: "\e01a";
  color: #999;
}